*{
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}
.header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    w
}

